/* CSS declarations go here */

/*
html, body {
  height: 100%;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#react-root {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  overflow: scroll;
}
*/
.main-layout {
  /*
  flex: 1;
  -webkit-flex: 1;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  */
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  float: left;
  overflow: scroll;
}

.main-layout img, .main-layout-container img {
  max-width: 10%;
  margin: 2% 0;
}

body .main-page-logo {
  margin: 1em 0 0.5em 0;
}

.main-div {
  /*background-image: url('/images/wood-background.jpg');*/
  background-color: /*#E2F3FF*/ #E9E581;
  height: 70px;
  background-size: 100%;
  background-position: 0% 50%;
  position: relative;
}

.main-div h1 {
  margin-top: 0;
}

.home-banner-container {
  background-color: #F6F6F6;
  margin-bottom: 2em;
  border-bottom: solid 0.5em #DE1B1B;
}

.main-layout-children-container, .home-banner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.home-banner {
  display: flex;
}

.logo-and-menu-button {
  flex: 1;
}

.menu-button-container {
  display: none;
}

.banner-logo {
  text-align: left;
}

.banner-logo-no-nav {
  width: 100%;
}

.banner-logo-no-nav img {
  width: 30%;
  min-width: 100px;
  max-width: 200px;
}

.banner-logo img {
  max-width: 60%;
  cursor: pointer;
}

.navibar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 2;
}

.navibar-container ul {
  list-style-type: none;
  padding: 0;
}

.main-categories ul {
  display: flex;
}

.main-categories ul ul {
  display: flex;
  flex: 1;
}

.main-categories ul ul li {
  flex: 1;
}

.main-categories ul ul:nth-child(2) li {
  text-align: right;
}

.toggle-main-menu {
  text-align: right;
  display: none;
}

/*
.main-categories ul {
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  list-style-type: none;
  padding: 0.5em 0 0.5em 0;
  margin: 1em 0 1em 0;
}

.main-categories ul li {
  display: inline-block;
  flex: 1;
}

.main-categories ul li a {
  color: #95989A;
}

.main-categories ul li p {
  display: inline;
  margin: 0;
  cursor: pointer;
}

.main-categories ul li:nth-child(1) {
  display: none;
  font-size: 1.5em;
}
*/
.search-bar {
  position: relative;
  width: 98%;
  max-width: 400px;
  margin: auto;
}

.search-bar input[type='text'] {
  border-radius: 0;
}

.main-search-input {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #2B2B2B;
  line-height: 2em;
  width: 75%;
  padding-left: 0.5em;
  font-size: 1em;
}

.main-search-input:focus {
  outline: none;
}

.glyph-div {
  display: inline-block;
  width: 15%;
  height: 31px;
  border: none;
  vertical-align: top;
  padding: 0 0.5em 0 0.5em;
  border-radius: 4px;
  cursor: pointer;
  background-color: /*#E2F3FF*/ #DE1B1B;
}

.glyph-div:focus {
  outline: none;
}

.glyphicon.glyphicon-search {
  color: #F6F6F6;
  line-height: 32px;
}

.search-bar {
  text-align: left;
}

.search-bar .glyphicon {
  top: 0;
}

.search-bar img {
  min-width: 30px;
  max-width: 30px;

  margin: 0;
}

.search-bar-spacer {
  display: inline-block;
  width: 30px;
}

.generic-container, .product-details {
  float: left;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 5em;
  background-color: #F7F7F7;
}

.search-results {
  display: none;
  position: absolute;
  width: 75%;
  z-index: 10;
}

.search-results.show-search {
  display: block;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

.search-results ul li {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  line-height: 2em;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 200ms ease-in-out;
  -webkit-animation: fadeIn 200ms ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  padding-left: 1em;
}

.search-results-main {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding: 1em;
}

.search-results-header-text {
  max-width: 80%;

  text-align: left;
  font-size: 24px;
  padding: 0.2em 0 0.2em 15px;
}

.search-results-container {
  display: flex;
}

.search-results-side-panel {
  display: inline-block;
  flex: 1;
}

.search-results-products {
  flex: 5;
}

.search-panel-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;
  text-align: left;
  margin-bottom: 1em;
}

.search-panel-container label {
  font-weight: 300;
}

.search-panel-container input[type='radio']:checked+span {
  font-weight: 700;
}

.search-panel-container span {
  padding: 0 0.7em 0 0.7em;
  color: #7B7B7B;
}

.search-panel-header {
  display: flex;
  justify-content: space-between;
}

.search-panel-header p {
  cursor: pointer;
}

.search-panel-header p:nth-child(2) {
  display: none;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.search-results ul li:hover {
  background-color: /*#E2F3FF*/ #F6F6F6;
}

.search-results ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.editors-pick {
  display: flex;
  padding: 2em 4em;
  animation: slideLeft 500ms ease-in-out 1;
  animation-fill-mode: forwards;
}

.editors-pick-img {
  flex: 1;
}

.editors-pick-img img {
  max-width: 300px;
  border-radius: 6px;
}

.editors-pick-text {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.editors-pick-text h4, .featured-shop-text h4 {
  margin: 0;
}

.editors-pick-text p, .featured-shop-text p {
  margin: 0;
  padding: 2em 0;
}

.featured-shop {
  display: flex;
  padding: 2em 4em;
  animation: slideRight 500ms ease-in-out 1;
  animation-fill-mode: forwards;
}

.featured-shop-img {
  flex: 1;
}

.featured-shop-img img {
  max-width: 300px;
  border-radius: 6px;
}

.featured-shop-text {
  order: -1;
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
}

@keyframes slideRight {
  0% {left: 100%; opacity: 0;}
  100% {left: 0%; opacity: 1;}
}

@keyframes slideLeft {
  0% {left: -100%; opacity: 0;}
  100% {left: 0; opacity: 1;}
}

.home-page-div {
  margin-top: 1em;
}

.home-page-div hr {
  width: 90%;
}

.home-page-div h5 {
  display: inline-block;
  border-bottom: 1px solid black;
}

.sell-with-us-container {
  display: flex;
  margin: 2em 0 4em 0;
}

.sell-item-container {
  flex: 1;
}

.sell-item-img {
  margin-bottom: 1em;
}

.sell-item-img img {
  max-width: 20%;
}

.sell-with-us-container div:nth-child(2) {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.home-page-footer {
  display: flex;
  margin: 1em 0 1em 0;
}

.home-footer-container {
  flex: 1;
}

.home-footer-container a {
  display: block;
  padding: 0.3em 0;
}

.faq-div h3 {
  margin-bottom: 1em;
}

.faq-div a {
  text-decoration: underline;
}

.about-us-div input[type='text'], .about-us-div input[type='email'], .about-us-div input[type='textarea'] {
  -webkit-appearance: none;
  border: 1px solid lightgrey;
  margin: 1em 0 1em 0;
  line-height: 2em;
  width: 500px;
  padding: 2px 2px 2px 5px;
  border-radius: 4px;
}

.about-us-div input[type='textarea'] {
  height: 100px;
}

.about-us-div p, .faq-div p {
  max-width: 80%;
  margin: auto;
}

.forgot-login-div input[type='email'] {
  width: 100%;
}

#hideLG {
  display: none;
}

#navbar p {
  margin: 0;
}

.navbar {
  min-height: inherit;
  margin-left: 1em;
  margin-right: 1em;
}

input[type="text"], input[type="email"], input[type="password"] {
  -webkit-appearance: none;
}

body a, body a:visited, body a:hover, body a:active, body a:focus {
  color: black;
  text-decoration: none;
}

.transIn-enter {
  opacity: 0.01;
  /*animation: slideUp 0.2s linear infinite;*/
}

.transIn-enter.transIn-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.transIn-leave {
  opacity: 1;
  /*animation: slideUp 0.2s linear infinite;*/
}

.transIn-leave.transIn-leave-active {
  opacity: 0.01;
  transition: opacity 0ms ease-in;
}

body .jumbotron {
  background-color: white;
  padding: 1em;
}

.panel {
  border: none;
  border-radius: 0;
  border-top: 1px solid lightgrey;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#messages-container {
  /*
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  */
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 3em;

  width: 90%;

}

#msg-container {
  text-align: left;
  margin-bottom: 1em;
}

#msg-container .form-group {
  width: 80%;
}

#msg-container .btn {
  margin-left: 2%;
  width: 18%;
  vertical-align: top;
}
/*
#sendMessage {
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 4.8em;
  width: 100%;
}
*/
.compose-btn {
  display: inline-block;
  font-size: 2em;
  cursor: pointer;
}

#messagesCol .compose-btn {
  visibility: hidden;
}

.threads-col-transition {
  margin: 0;
  /*
  flex: 1;
  -webkit-flex: 1;
  */
  overflow: scroll;
  padding-right: 0;
}

.threads-col-transition .panel {
  margin: 0;
}

.threads-col-transition .jumbotron {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
}

#messagesCol {
  /*
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  */
  padding-left: 0;
}

#msgJumbo {
  border-left: 1px solid lightgrey;
  /*
  flex: 1;
  -webkit-flex: 1;
  */
  width: 100%;
  margin: 0;
  padding-top: 0;
  text-align: left;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#msgJumbo .compose-btn {
  max-height: 35px;
  padding-top: 5px;
}

#msgJumbo hr {
  margin-top: 0;
}

#msgPane {
  min-height: 100%;
  max-height: 100%;
  overflow: scroll;
}

#msgJumbo .well {
  display: inline-block;
  max-width: 70%;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 9px;
}

#msgJumbo p {
  font-size: 14px;
  margin: 0;
}

#msgJumbo #read-receipt {
  font-size: 9px;
  text-align: right;
}

#message-panel-right {
  text-align: right;
}

#message-panel-right .well {
  background-color: #7DDEFF;
  text-align: left;
}

#message-panel-left {
  text-align: left;
}

#message-panel-left .well {
  background-color: white;
}

#shop-div .thumbnail {
  /*background-color: #F2E4DF;*/
  border: none;
}

.spinner-container {
  opacity: 0.8;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.spinner-container-absolute {
  opacity: 0.8;
  background-color: #ccc;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  position: fixed;
  margin: -2em 0 0 -2em;
  top: 50%;
  left: 50%;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  width: 100%;
  float: left;
}

.make-inline {
  display: inline;
}

.editModal, .searchModal {
  top: 3em;
}

#search-modal .form-group {
  margin: 0;
}

.searchModal .modal-footer {
  text-align: left;
  height: 400px;
  overflow: scroll;
}

.a, .a:link, .a:hover, .a:active {
  background-color: red;
  color: black;
  text-decoration: none;
}

.send-message-container {
  width: 60%;
  margin: auto;
}

.send-message-container input {
  margin: 1em 0;
}

.send-message-container #message {
  margin: 1em 0;
  resize: none;
}

.send-mail-button-container {
  display: inline-block;
  padding: 10px 20px;
  border: hidden;
  background-color: /*#E2F3FF*/ #E9E581;
  border-radius: 20px;
}

.send-mail-button-container p {
  margin: 0;
}

.edit-account button {
  margin: 1em 0;
}

.invisible-image {
  visibility: hidden;
  max-width: 100%;
}

.upload-area {
  background-color: lightgrey;
}

.upload-area .alert {
  position: relative;
}

.upload-area input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  opacity: 0;
}

#dropzone {
  z-index: 1;
}

.crop-page-container {
  overflow: auto;
}

.cropped-image {
  margin: 0;
  width: 100%;
  max-width: 400px;
}

.crop-container-col {
  margin-bottom: 1em;
}

.crop-container {
  display: inline-block;
  /*margin: auto;*/
  max-width: 400px;
  max-height: 400px;
}

.crop-container img {
  max-width: 100%;
}

#preview-div img {
  max-width: 100%;
}

.crop-save-button {
  clear: both;
  margin: 1em 0;
}

body .badge {
  background-color: orangered;
}

.clear-left {
  clear: left;
}

.shopshome-enter {
  opacity: 0.01;
}

.shopshome-enter.shopshome-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.shop-main-container {
  float: left;
  width: 100%;
  background-color: #F7F7F7;
  min-height: 500px;
}

.shop-main-container img {
  max-width: 100%;
}

.shop-tab-panel {
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
  padding: 1em 15px;
}

.shop-tab-panel p {
  font-size: 16px;
  margin: 0;
  margin-right: 1em;
  cursor: pointer;
}

.boldFont {
  font-weight: 700;
}

.shop-panel-search-input {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.shop-search-input {
  -webkit-appearance: none;
  border: solid 1px lightgrey;
  border-radius: 4px;
  padding: 0.2em 0.2em 0.2em 0.4em;
}

.shop-search-input:focus {
  outline: none;
}

.shop-panel-magnify-container {
  display: none;
}

.shop-panel-magnify-container img {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.shop-about {
  width: 75%;
  margin: auto;
  padding: 0 15px;
  text-align: left;
}

.shop-content {
  float: left;
  width: 100%;
}

.shop-products {
  float: left;
  width: 100%;
  padding: 0 12.5%;
}

.shop-container-2 {
  position: relative;
  margin: auto;
  max-width: 320px;
}

.shop-container-2 h2 {
  font-size: 1.4em;
  position: absolute;
  bottom: 2%;
  left: 4%;
  color: white;
}

.shop-container-2 img {
  max-width: 100%;
  min-width: 100%;
}

#shop-div p {
  margin-top: 1em;
}

#shop-div:nth-child(4n+1) {
  clear: left;
}

.gradient {
  position: absolute;
  height: 35%;
  width: 100%;
  bottom: 0;
  border-radius: 6px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.my-shop-container {
  text-align: justify;
}

.my-shop-container img {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 1em;
}

#product-thumbnail {
  display: inline-block;
  width: 29%;
  margin: 1em;
}

#product-thumbnail:nth-child(4n+1) {
  clear: left;
}

#product-thumbnail img {
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#product-thumbnail .thumbnail {
  padding: 0;
  border: none;
}

#product-thumbnail .caption {
  padding: 0.5em;
}

.product-name-text {
  text-align: left;
}

.product-price-text {
  text-align: right;
}

.product-price-text span {
  color: #00A32C;
}

#desc-textarea, #sendMessage {
  resize: none;
  overflow: scroll;
}

.products-container, .add-products-container {
  height: 60px;
  border-radius: 6px;
  margin: 1em 0;
  background-color: #EDEDED;
}

.products-container .col-xs-8 {
  padding: 5px 0 0 5px;
}

.add-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97E8A0;
  text-align: center;
}

.add-products-edit-btn {
  padding: 10px 2em;
  border-radius: 30px;
  background-color: #F7F7F7;
}

.products-edit-btn {
  display: inline-block;
}

.products-edit-btn {
  margin: 13px 10px 0 0;
  float: right;
}

.modal-content-width {
  max-width: 250px;
  margin: auto;
}

.control-label {
  font-weight: lighter;
}

#new-product-input {
  padding: 0;
  margin: 1em 0;
}

#new-product-container .form-group {
  text-align: left;
}

#new-product-container img {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 1em;
}

#new-product-paragraph {
  text-align: left;
}

.product-header-container {
  display: flex;
  width: 75%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  border-radius: 9px;
  background-color: white;
}

.product-header-logo {
  flex: 1;
}

.product-header-logo img, .product-header-more-products-container img {
  margin: 0;
  max-width: 80px;
  border-radius: 6px;
  cursor: pointer;
}

.product-header-shop-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 7;
  padding-left: 15px;
  padding-right: 15px;
}

.product-header-shop-info p {
  margin: 0;
  text-align: left;
}

.product-header-shop-info p:nth-child(1) {
  cursor: pointer;
}

.product-header-shop-info p:nth-child(1) {
  font-size: 1.3em;
  font-weight: 700;
}

.product-header-shop-info p:nth-child(2) {
  font-size: 1.3em;
  color: #95989A;
}

.join-date {
  font-size: 1.3em;
  color: #95989A;
}

.star-rating img {
  max-width: 1.7em;
  margin: 0 0.3em 0 0;
}

.product-header-more-products-container {
  display: flex;
  justify-content: flex-end;
  flex: 4;
  align-items: center;
}

.product-header-more-products-container img:nth-child(2) {
  margin: 0 1em 0 1em;
}

.contact-button-container {
  background-color: /*#E2F3FF*/ #E9E581;
  border-radius: 24px;
  padding: 0.5em 1.2em;
}

.contact-button-container p {
  margin: 0;
}
/*
.product-details {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.product-details img {
  max-width: 100%;
}
*/
.product-details-container {
  display: flex;
  width: 75%;
  max-width: 1200px;
  margin: auto;
}

.product-details-img {
  flex: 1;
  margin: 2em 1em 2em 0;
}

.product-details-img img {
  width: 100%;
  max-width: none;
  margin: 0;
  border-radius: 18px;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  margin: 2em 0 2em 1em;
  background-color: white;
  border-radius: 4px;
  padding: 0.5em 0.5em 1em 0.5em;
}

.product-details-info p {
  margin: 0;
}

.product-details-info-name {
  flex: 1;
  padding: 0 0 0.2em 0;
}

.product-details-info-price {
  flex: 1;
  padding: 0.2em 0 0.2em 0;
}

.product-details-info-price p {
  color: #00A32C;
}

.product-details-info-shop {
  flex: 1;
  padding: 0.2em 0 0.2em 0;
}

.product-details-info-time {
  flex: 1;
  padding: 0.2em 0 0.2em 0;
}

.product-details-info-description {
  flex: 5;
  padding: 0.2em 0 0.2em 0;
  text-align: left;
}

.product-details-info-contact {
  border: hidden 1px;
  border-radius: 17px;
  background-color: /*#E2F3FF*/ #E9E581;
  display: flex;
  flex: 2;
  align-self: center;
  align-items: center;
  padding: 0 1em;
}

.product-details-info-contact p {
  font-size: 16px;
}

.vendor-account-main p {
  display: inline-block;
  margin: 0;
}

.go-shop-button {
  display: inline-block;
  padding: 1em;
  margin: 1.5em 0;
  border: hidden;
  border-radius: 24px;
  background-color: /*#E2F3FF*/ #E9E581;
}

.account-logout {
  display: inline-block;
  margin: 1.5em 0;
  padding: 10px 2em;
  border-radius: 24px;
  background-color: /*#E2F3FF*/ #E9E581;
  cursor: pointer;
}

.account-logout p {
  margin: 0;
}

.back-to-account {
  text-align: center;
  margin: 1em 0 3em 0;
}

.back-to-account a {
  padding: 1em;
  border: hidden;
  border-radius: 24px;
  background-color: #E9E581;
}

.user-panel-container {
  background-color: lightgrey;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
  padding: 0.5em;
}

.user-panel-container p {
  margin: 0;
}

.user-panel-username-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.user-panel-verify-container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.user-panel-verify-button, .user-panel-enable-button {
  background-color: green;
  padding: 0.1em 1em;
  border-radius: 10px;
  cursor: pointer;
}

.user-panel-verify-button p, .user-panel-enable-button p {
  color: white;
}

.user-panel-revoke-button, .user-panel-disable-button {
  background-color: red;
  padding: 0.1em 1em;
  border-radius: 10px;
  cursor: pointer;
}

.user-panel-revoke-button p, .user-panel-disable-button p {
  color: white;
}

.user-panel-shop-container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* 1199PX */

@media only screen and (max-width: 1199px) {

  #shop-div:nth-child(4n+1) {
    clear: none;
  }

  #shop-div:nth-child(3n+1) {
    clear:left;
  }

  #product-thumbnail:nth-child(4n+1) {
    clear: none;
  }

  #product-thumbnail:nth-child(3n+1) {
    clear: left;
  }

}

/* 1035PX */

@media only screen and (max-width: 1035px) {

  .product-header-container, .shop-tab-panel {
    width: 90%;
  }

  .shop-products {
    padding: 0 5%;
  }

  #product-thumbnail {
    /*width: 45%;*/
  }

  .product-details-info-contact {
    padding: 0.5em 1em;
  }
}

/* 992PX */

@media only screen and (max-width: 992px) {

  .shop-products {
    padding: 0;
  }

  #new-product-input {
    margin: 0;
  }

  #new-product-label {
    margin: 7px 0;
  }
}

/* 768PX */

@media only screen and (max-width: 768px) {

  .main-page-logo {
    max-width: 15%;
  }

  .crop-page-container {
    max-width: 90%;
    margin: auto;
  }

  #new-product-input {
    margin: 1em 0;
  }

  #new-product-label {
    margin: 0;
  }
}

/* 767PX */

@media only screen and (max-width: 767px) {

  #hideXS {
    display: none;
  }

  #hideLG {
    display: inline;
    padding: 1px;
    height: 95%;
    width: auto;
    max-width: 100%;
    visibility: visible;
  }

  body .navbar {
    width: 95%;
    border-radius: 4px;
  }

  body .navbar-brand {
    padding: 0;
  }
  /*
  #messages-container {
    width: 95%;
    display: block;
    margin-bottom: 1em;
    position: relative;
    overflow-x: hidden;
  }

  .jumbotron {
    border-radius: 4px;
    height: 100%;
    margin-bottom: 0;
  }
  */
  #shop-div:nth-child(3n+1) {
    clear:none;
  }

  #shop-div:nth-child(1) {
    clear: left;
  }

  #shop-div {
    width: 90%;
    max-width: 90%;
    margin: auto;
    float: none;
  }

  #product-thumbnail:nth-child(3n+1) {
    clear: none;
  }

  #product-thumbnail {
    /*width: 383px;
    max-width: 90%;
    margin: auto;
    float: none;*/
  }

  .home-page-div h4 {
    padding: 1em 0 0 0;
  }

  .editors-pick, .featured-shop {
    display: block;
    margin: 0 3em 0 3em;
  }

  .editors-pick img, .featured-shop img {
    max-width: 80%;
  }

  .home-banner {
    flex-direction: column;
  }

  .logo-and-menu-button {
    display: flex;
  }

  .banner-logo {
    text-align: left;
  }

  .banner-logo img {
    max-width: 30%;
  }

  .displayNone {
    display: none !important;
  }

  .menu-button-container {
    display: flex;
    align-items: flex-end;
  }

  .menu-button {
    font-size: 2em;
  }

  .main-categories ul li {
    margin: 5px 0;
  }

  .product-header-more-products-container img {
    display: none;
  }

  .main-categories ul {
    flex-direction: column;
  }

  .main-categories ul ul:nth-child(2) li {
    text-align: center;
  }

  .product-details-container {
    flex-direction: column;
  }

  .product-details-img {
    max-width: 50%;
    margin: auto;
    margin-top: 2em;
  }

  .product-details-info {
    margin-left: 0;
  }

  /*
  #messagesCol .compose-btn {
    width: 35px;
    visibility: visible;
  }

  #msg-container .form-group {
    display: inline-block;
  }

  #messagesCol {
    position: absolute;
    overflow: hidden;

    flex-direction: column;
    -webkit-flex-direction: column;

    padding: 0;
    height: 99%;
    width: 100%;
    top: 0;
    z-index: 10;
    left: 100%;
    background-color: white;
  }

  #msgJumbo {
    border-left: none;
    height: 99%;

    display: flex;
    display: : -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    position: absolute;
  }

  #msgJumbo hr {
    margin: 1em 0;
  }

  #msgPane {
    min-height: inherit;
    max-height: inherit;

    flex: 2;
    -webkit-flex: 2;

  }

  #msg-container {
    display: flex;
    display: -webkit-flex;
    flex: 0.6;
    -webkit-flex: 0.6;
  }

  #msg-container .btn {
    height: 22px;
  }

   .messages-col-show {
    left: 0 !important;
  }

  .messages-col-transition {
    -webkit-transition: left 0.5s ease, min-height 0.5s ease, max-height 0.5s ease;
    -moz-transition: left 0.5s ease, min-height 0.5s ease, max-height 0.5s ease;
    -o-transition: left 0.5s ease, min-height 0.5s ease, max-height 0.5s ease;
    transition: left 0.5s ease, min-height 0.5s ease, max-height 0.5s ease;
  }

  .hideThreads {
    opacity: 0;
    animation: fadeOut 0.5s ease 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes fadeOut {
    99% { visibility: visible; }
    100% {visibility: hidden; }
  }

  .threads-col-transition {
    display: inline-block;

    flex: none;
    -webkit-flex: none;

    height: 99%;
    padding: 0;
    width: 100%;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
  }

  #sendMessage {
    height: 90%;
    min-height: 2em;
  }
  */
}

/* 727PX */

@media only screen and (max-width: 727px) {

  #product-thumbnail {
    width: 40%;
  }
}

/* 642PX */

@media only screen and (max-width: 642px) {

  .search-results-container {
    flex-direction: column;
  }

  .search-panel-header p:nth-child(2) {
    display: block;
  }

  .display-panel {
    display: none;
  }
}

/* 568PX */

@media only screen and (max-width: 568px) {

  body .products-container {
    height: 120px;
  }

  body .products-container .col-xs-8 {
    padding-right: 5px;
    width: 100%;
    height: 80px;
  }

  body .products-edit-btn {
    margin-top: 0;
    margin-right: 5px;
  }

  .searchModal .modal-footer {
    height: 300px;
    overflow: scroll;
  }

  .search-bar {
    width: 80%;
  }

  .sell-with-us-container {
    flex-direction: column;
  }

  .sell-with-us-container div:nth-child(2) {
    border: none;
  }

  .sell-item-container {
    margin: 1em 0;
  }

  .product-header-logo {
    display: none;
  }

  .star-rating img {
    max-width: 1.1em;
  }

  .shop-panel-search-input {
    display: none;
    justify-content: flex-start;
    flex: 2;
  }

  .shop-panel-search-input input[type='text'] {
    width: 100%;
  }

  .display-none {
    display: flex;
  }

  .display-none-1 {
    display: none;
  }

  .shop-panel-magnify-container {
    display: block;
    flex: 1;
    text-align: right;
  }

  .shop-panel-magnify-container img {
    margin: 0;
    width: 23px;
  }

  .shop-products {
    padding: 0;
  }

  .about-us-div input[type='text'], .about-us-div input[type='email'], .about-us-div input[type='textarea'] {
    width: 80%;
  }

  #product-thumbnail {
    width: 75%;
  }

  .send-message-container {
    width: 80%;
  }

  .main-search-input {
    width: 70%;
  }

  .banner-logo img {
    max-width: 60%;
  }

  .product-details-img {
    max-width: 70%;
  }

  .editors-pick, .featured-shop {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

/* 375PX */

@media only screen and (max-width: 375px) {

  .product-header-container {
    flex-direction: column;
  }

  .product-header-shop-info {
    align-items: center;
  }

  .product-header-more-products-container {
    justify-content: center;
  }

  .product-details-img {
    max-width: 100%;
    margin-right: 0;
  }
}
