<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HTML email test</title>
  </head>

  <body>
    <div style='width: 100%; text-align: center'>
      <h2>Bakely Password Reset Email</h2>
      <p>Click the link below to reset your password</p>
      <a href={{link}}>Reset Password</a>
    </div>
  </body>
</html>
