<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HTML email test</title>
  </head>

  <body>
    <div style='width: 90%; margin: auto; text-align: center'>
      <h2>Welcome to Bakely</h2>
      <p>Hi {{username}},</p>
      <p>This is Thomas from Bakely. Thank you for registering for a vendor account on Bakely.sg</p>
      <p>We are currently verifying your account so that you will be able to create your shop
      and start listing your products. Please note that it may take up to 48 hours to complete the
      verification process.</p>
      <p>Once verified you will be able to create a shop and start listing your products!</p>
    </div>
    <br />
    <div style='width: 90%; margin: auto;'>
      <p>Warmest Regards,</p>
      <p style='margin-bottom: 0;'>Thomas</p>
      <p style='margin-top: 5px;'>Bakely SG</p>
    </div>
  </body>
</html>
