<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HTML email test</title>
  </head>

  <body>
    <div style='width: 100%; text-align: center'>
      <h2>New Registration</h2>
      <p>User Id: {{id}}</p>
      <p>Username: {{username}}</p>
      <p>Email: {{email}}</p>
    </div>
  </body>
</html>
